[Unit]
Description=Run Laravel Scheduler every minute

[Timer]
OnCalendar=*:0/1
AccuracySec=1s
Unit=laravel-scheduler.service

[Install]
WantedBy=timers.target

